body {
    background-color: #EBEBEB;
}

body, html {height:100%;}
div.wrap {height:100%; overflow:hidden;}

#main {
    /* border: 3px solid #73AD21; */
    float: left;
    width: 75%;
    height: 100%;
}

.control-panel {
    overflow: scroll;
    height: 80%;
}
.ui {
    float: left;
    width: 20%;
    height: 100%;
}

/* @media screen and (max-width: 800px) { */
@media screen and (orientation:portrait) {
    #main {
        width: 100%;
        height: 70%;
    }
    .ui {
        width: 100%;
        height: 20%;
    }
}

#draggable {
    width: 100px;
    height: 20px;
    text-align: center;
    background: blue;
}

li {
    list-style-type: none;
}
.li-function.p {
    color: #A9C3B2;
}
.li-function {
    background: #25A04F;
    margin: 1%;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    vertical-align: middle;
}
